
<footer class="editContent">
    <div class="container">
        <div class="row footer-top">
            <div class="col-lg-3 footer-left">
                <h2 class="logo-2 mb-lg-1 mb-1">
                    <a href="index.html" class="editContent">
                        <span class="fa" aria-hidden="true" >
                            Culture Cloud
                        </span>
                    </a>
                </h2>
                <p class="editContent" >
                   
                </p>
                <h4 class="sub-con-fo ad-info my-4 editContent" >Catch on Social</h4>
                <ul class="w3layouts_social_list media-soc list-unstyled">
                    <li>
                        <a href="#" class="w3pvt_facebook editContent" >
                            <span class="fa fa-facebook-f" ></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="w3pvt_twitter editContent" >
                            <span class="fa fa-twitter" ></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="w3pvt_dribble editContent" >
                            <span class="fa fa-dribbble" ></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="w3pvt_dribble editContent" >
                            <span class="fa fa-instagram" ></span>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="#" class="w3pvt_google editContent" >
                            <span class="fa fa-google-plus" ></span>
                        </a>
                    </li> -->
                </ul>
            </div>
            <div class="col-lg-9 footer-right">
                <div class="w3layouts-news-letter">
                    <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3" >Newsletter</h3>

                    <p class="editContent" >By subscribing to our mailing list you will always get latest news and updates from us.</p>
                    <form action="#" method="post" class="w3layouts-newsletter">
                        {% csrf_token%}

                        <button class="btn1 btn" ><span class="fa fa-paper-plane-o" aria-hidden="true" ></span></button>

                    </form>
                </div>               
            </div>
        </div>
    </div>
</footer>
<!-- //footer -->
<div class="cpy-right py-3">
    <div class="container">
        <div class="row">
            <p class="col-md-10 text-left">© 2022 Culture Cloud. All rights reserved | Design by
                <a href="https://djangochannel.com">Chebyrek</a>
            </p>
            <!-- move top icon -->
            <a href="#home" class="move-top text-right col-md-2"><span class="fa fa-long-arrow-up" aria-hidden="true" ></span></a>
            <!-- //move top icon -->
        </div>
    </div>
</div>
